[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coveralls = "*"

[packages]
djangorestframework = "*"
pytz = "*"
drf-yasg = "*"
Django = "==2.2.7"
Pillow = "*"
channels = "*"
redis = "*"
channels-redis = "*"
factory-boy = "*"
djangorestframework-simplejwt = "*"
django-model-utils = "*"
django-s3-storage = "*"
gunicorn = "*"
psycopg2-binary = "*"
boto3 = "*"
six = "<=1.11.0"

[requires]
python_version = "3.6"
