[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coveralls = "*"

[packages]
djangorestframework = "*"
pytz = "*"
drf-yasg = "*"
Django = "*"
Pillow = "*"
factory-boy = "*"
django-model-utils = "*"

[requires]
python_version = "3.6"
