<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The internal web page of KSG">
  {# Make the CSRF token available for all deriving templates #}
  <meta name="csrf-token" content="{{ csrf_token }}">

  <title>KSG-Nett</title>

  {% load static %}
  {% block override_static_defaults %}
    {% comment %}
      This block exists as a block to allow others to override the default static imports.
      Note that overriding this will probably remove most of the defaulting styling of the page.
    {% endcomment %}

    {# Vendor libraries #}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {# Main styling and scripting files #}
    <script src="{% static 'internal/js/main.js' %}"></script>

    <link rel="stylesheet" href="{% static 'internal/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'internal/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'internal/css/components.css' %}">

  {% endblock %}
  {% block header %}
  {% endblock %}

</head>
<body>
  {% block override_header %}
      {% include 'internal/header.html' %}
  {% endblock %}
  {% block body_content %}
  {% endblock %}
  {% block override_body_end_script_defaults %}
    <script src="{% static 'internal/js/header.js' %}"></script>
  {% endblock %}
  {% block body_end %}
    <!-- Place body-loaded scripts in this block -->
  {% endblock %}
</body>
</html>