{% extends 'internal/base.html' %}
{% load i18n %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'internal/css/frontpage.css' %}">
    <script src="https://kit.fontawesome.com/ce26cfd6f4.js"></script>
{% endblock %}

{# TODO: Contemplate splitting the below into multiple reusable sub-templates. #}
{% block body_content %}
    <div class="frontpage">
        <div class="frontpage__top_row">
            <div class="frontpage__slideshow_container">
                <i class="fas fa-chevron-left"></i>
                <div class="frontpage__image">

                </div>
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="frontpage__top_right_container">
                <div class="frontpage__column_rework" style="width: 450px">
                    <h2 class="normal text-left darker-blue">{% trans 'Dine vakter' %}</h2>
                    {% for shift in next_shifts %}
                        <div class="frontpage__shift_row">
                            <span>{{ shift.slot.group.name }}</span>
                            <span>{{ shift.slot.group.meet_time.date }}</span>
                        </div>
                        <div class="frontpage__shift_row">
                            <div class="frontpage__shift_coworkers_inline">

                                {% for shiftslot in  shift.slot.group.shiftslot_set.all %}
                                    <a href="/internal/users/{{ shiftslot.filled_shift.user.id }}"
                                       title="{{ participant.get_full_name }}">
                                        {% include 'components/thumb.html' with url=shiftslot.filled_shift.user.profile_image_url size='tiny' %}
                                    </a>
                                {% endfor %}
                            </div>
                            <span>Oppmøte: {{ shift.slot.group.meet_time.time }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="frontpage__column" style="width: 450px">
                    <h2 class="normal text-left darker-blue">{% trans 'Info' %}</h2>
                    <div class="frontpage__information_row">
                        <span> Kontonummer soci </span>
                        <span> 12345678 </span>
                    </div>
                    <div class="frontpage__information_row">
                        <span>Vipps Org. nr</span>
                        <span>95034 </span>
                    </div>
                    <div class="frontpage__information_row">
                        <span> E-post ksg-styret </span>
                        <span>ksg-styret@samfundet.no </span>
                    </div>
                    <div class="frontpage__information_row">
                        <span> Noen å snakke med? </span>
                        <span> baksida@samfundet.no</span>
                    </div>
                    <div class="frontpage__information_row">
                        <span>Webproblemer?</span>
                        <span>ksg-it@samfundet.no</span>
                    </div>
                </div>

            </div>

        </div>
        <div class="frontpage__section">
            <div class="frontpage__column">
                <h2 class="normal text-left darker-blue">{% trans 'Siste referater' %}</h2>
                {% for summary in last_summaries %}
                    <a href="/internal/summaries/{{ summary.id }}" class="frontpage__summary resetlink">
            <span class="light">
              {{ summary.date | date:"m.d.Y" }}
            </span>
                        <span class="bold">
              {% trans summary.get_short_summary_type_name %}
            </span>
                    </a>
                {% endfor %}
                <a class="resetlink block frontpage__columnallmarker" href="/internal/summaries/">Alle</a>
            </div>
            <div class="frontpage__column">
                <h2 class="normal text-left darker-blue">{% trans 'Siste sitater' %}</h2>
                {% for quote in last_quotes %}
                    <div class="frontpage__quote">
            <span class="bold">
              "{{ quote.text | truncatechars:30 }}"
            </span>
                        -
                        <span class="light">
              <a href="/internal/users/{{ quote.quoter.id }}" class="resetlink">
                {{ quote.quoter.get_full_name }}
              </a>
            </span>
                    </div>
                {% endfor %}
                <a class="resetlink block frontpage__columnallmarker" href="/internal/quotes/">Alle</a>
            </div>
            <div class="frontpage__column">
                <h2 class="normal text-left darker-blue">{% trans 'Økonomi' %}</h2>
                {% for purchase in last_summaries %}
                    <span>Placehodlder text until context acutally returns something</span>
                {% endfor %}
            </div>
            
            <!-- fjernet innholdet i denne diven, den står åpen for evt. fremtidig innhold -->
            <div class="frontpage__column">
                
            </div>
            
            
        </div>
    </div>
{% endblock %}
