{% load i18n %}
{% load static %}
{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
<div class="header">
    <div class="header__top bg-light-blue darker-blue">
        <div class="header__logo">
            <a href="/internal/" class="resetlink">
                <h2>KSG</h2>
            </a>
        </div>
        <div class="header__menu_items_container">
            <div class="dropdown darker-blue">
                <button class="dropbtn">Innhold <i class="fa fa-chevron-down"></i></button>
                <div class="dropdown-content bg-light-blue">
                    <a class="resetlink" href="/internal/summaries/">{% trans "Referater" %}</a>
                    <a class="resetlink" href="/internal/quotes/">{% trans "Sitater" %}</a>
                    <a class="resetlink" href="/internal/news/">{% trans "Nyheter" %}</a>
                    <a class="resetlink" href="/internal/events/">{% trans "Hendelser" %}</a>
                </div>
            </div>
            <div class="dropdown darker-blue">
                <button class="dropbtn">Gjengen <i class="fa fa-chevron-down"></i></button>
                <div class="dropdown-content bg-light-blue">
                  {% for group in header_internal_groups %}
                    <a href="organization/internal-groups/{{ group.id }}">{{ group.name }}</a>
                  {% endfor %}
                </div>
            </div>
            <div class="dropdown darker-blue">
                <button class="dropbtn">Økonomi <i class="fa fa-chevron-down"></i></button>
                <div class="dropdown-content bg-light-blue">
                    <a class="resetlink" href="/internal/economy/">{% trans "Oversikt" %}</a>
                    <a class="resetlink" href="/internal/">{% trans "Overføring" %}</a>
                    <a class="resetlink" href="/internal/">{% trans "Prislister" %}</a>
                </div>
            </div>
            <div class="dropdown darker-blue">
                <button class="dropbtn">Vakter <i class="fa fa-chevron-down"></i></button>
                <div class="dropdown-content bg-light-blue">
                    <a class="resetlink" href="/internal/">{% trans "Min vaktplan" %}</a>
                    <a class="resetlink" href="/internal/">{% trans "Vaktbyttemarked" %}</a>
                    <a class="resetlink" href="/internal/">{% trans "Utlysninger" %}</a>
                </div>
            </div>
            <div class="dropdown darker-blue">
                <button class="dropbtn">Underholdning <i class="fa fa-chevron-down"></i></button>
                <div class="dropdown-content bg-light-blue">
                    <a class="resetlink" href="/internal/">{% trans "Sitater" %}</a>
                    <a class="resetlink" href="/internal/">{% trans "Bilder" %}</a>
                    <a class="resetlink" href="/internal/">{% trans "Quiz" %}</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown darker-blue">
                <button class="dropbtn">Info <i class="fa fa-chevron-down"></i></button>
                <div class="dropdown-content bg-light-blue">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            {# TODO: This check should probably be changed for a specific admin permission #}
            {% if user.is_superuser %}
                <div class="dropdown darker-blue">
                    <button class="dropbtn">Admin<i class="fa fa-chevron-down"></i></button>
                    <div class="dropdown-content bg-light-blue">
                        <a href="/internal/economy/soci-sessions">Krysselister</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="header__profile_container">
            <div class="header__profile_container_left text-right">
                {# TODO: Generate +/- and styling based on account balance#}
                <span>{{ user.get_full_name }}</span>
                <span>+{{ user.bank_account.balance }}</span>
            </div>
            <a href="/internal/users/{{ user.id }}" class="resetlink">
                {% include "components/thumb.html" with size="small" url=user.profile_image_url %}
            </a>
            <div class="header__profile_container_right">
                <div class="fa fa-bell dropdown">
                    <span class="fa-circle"></span>
                    <span class="num"></span>
                <div>
                    <button class="dropbtn" style="padding:0;"><i class="fa fa-chevron-down"></i></button>
                    <div class="dropdown-content bg-white header__profile_dropdown">
                        <div class="header__profile_dropdown_header">
                            <span>TODO FIX</span>
                            <span>Fjern alle</span>
                        </div>
                        asdasd
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>
    <div class="header__bottom bg-light-blue darker-blue">
        <div class="header__langselect">
            {# TODO: Add i18n handling #}
            <button>NO</button>
            <button>EN</button>
        </div>
        {# TODO: Add search #}
        <nav class="header__nav">
            <ul>
                <li><a class="resetlink" href="/internal/schedules/">{% trans "Vakter" %}</a></li>
                <li><a class="resetlink" href="/internal/summaries/">{% trans "Referater" %}</a></li>
                <li><a class="resetlink" href="/internal/gang/">{% trans "Gjengen" %}</a></li>
                <li><a class="resetlink" href="/internal/info/">{% trans "Info" %}</a></li>
                <li><a class="resetlink" href="/internal/entertainment/">{% trans "Underholdning" %}</a></li>
                <li><a class="resetlink" href="/internal/calendar/">{% trans "Kalender" %}</a></li>
                <li><a class="resetlink" href="/internal/quotes/">{% trans "Sitater" %}</a></li>
                {# TODO: This check should probably be changed for a specific admin permission #}
                {% if user.is_superuser %}
                    <li><a class="resetlink" href="/internal/admin/">{% trans "Admin" %}</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="header__logout">
            <a class="header__logoutbutton resetlink" href="/logout/">{% trans "Logg ut" %}</a>
        </div>
    </div>
</div>
