<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log in - KSG</title>
</head>
<body>
  <form action="/login/" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username</label>
      <input name="username" type="text" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="username">Password</label>
      <input name="password" type="password" placeholder="Password">
    </div>
    <button type="submit">
      Sign in
    </button>
  </form>
</body>
</html>