.summariessearch__searchwrapper{
    box-sizing: border-box;
    width: 400px;
    margin: 0 auto;
    position: relative;
}

.summariessearch__search{
    height: 40px;
    border: 1px solid #858585;
    border-radius: 4px;
    outline: none;
    padding-left: 1em;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

.summariessearch__searchicon{
    position: absolute;
    top: 8px;
    right: 0.25em;
}

.summariessearch__results{
    padding: 1em;
}

.summariessearch__results table {
    width: 80%;
    margin: 0 auto;
}

.summariessearch__results td {
    padding: 0.5em;
}
