.summariestypedetail{
    padding-top: 3em;
    display: grid;
    grid-template-rows: 100px auto 100px;
}

/* HEADER STYLING */
.summariestypedetail__header{
    position: relative;
    display: flex;
    justify-content: center;
}

.summariestypedetail__back{
    position: absolute;
    left: 0;
}

.summariestypedetail__semesterselect{
    display: flex;
    position: relative;
}

.summariestypedetail__semesterarrow {
    height: 36px;
}
.summariestypedetail__semesterarrow i{
    font-size: 36px;

    -webkit-transition: transform 0.1s ease;
    -moz-transition: transform 0.1s ease;
    -ms-transition: transform 0.1s ease;
    -o-transition: transform 0.1s ease;
    transition: transform 0.1s ease;
}

.summariestypedetail__currentsemester{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin: 0;
    display: flex;
}

.semesterselect__list{
    display: none;
    position: absolute;
    top: 42px;
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
}

.semesterselect__listitem{
    font-size: 26px;
    padding: 0.5em;
}

.summariestypedetail__semesterselect.active .semesterselect__list{
    display: block;
}

.summariestypedetail__semesterselect.active .summariestypedetail__semesterarrow i{
    transform: rotate(90deg);
}


/* GRID STYLING */
.summariestypedetail__grid{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.summarymonthgroup__month{
    margin-bottom: 0.3em;
}

.summarymonthgroup__cardwrapper{
    padding-bottom: 0.4em;
    padding-top: 0.4em;
}


/* FOOTER STYLING */
.summariestypedetail__footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    border-top: 1px solid #103242;
    border-bottom: 1px solid #103242;
    margin-bottom: 2em;
}

.summariestypedetail__typelink.active{
    border-bottom: 2px solid #103242;
    font-weight: 600;
}