.summarycreate{
    overflow: hidden;
}

.summarycreate__header{

}

.summarycreate__editorwrapper{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.summarycreate__editorheader{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.summarycreate__editorheader > div{
    width: 50%;
    padding: 0.5em 1em;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
}

.summarycreate > form{
    height: 100%;
}
.summarycreate__header{
    height: 100px;
    display: flex;
}

.summarycreate__submit{
    padding: 0.5em 1em;
    cursor: pointer;
}

.summarycreate__editorwrapper{
    height: calc(100% - 136px);
    display: grid;
    grid-template-columns: 50% 50%;
}

.summarycreate__contents{
    height: 100%;
}

.summarycreate__preview{
    height: 100%;
    border-left: 1px solid #ccc;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    overflow-y: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
