.summary{
    position: relative;
}

.summary__updatelink{
    position: absolute;
    top: 1em;
    right: 1em;
}

.summary-left-panel{
    width: 300px;
    display: inline-block;
    padding-right: 50px;
    vertical-align: top;
}

.summary-right-panel{
    display: inline-block;
}
