.summarysimplecard{
    font-size: 20px;
    font-weight: 300;
    color: #103242;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.summarysimplecard__date{
    font-size: 18px;
    margin-right: 0.3em;
}

.summaries__leftmenu{
    width: 300px;
    text-align: right;
    padding-right: 40px;
    border-right: 1px solid #103242;
    padding-bottom: 150px;
}

.summaries__leftbutton{
    display: block;
    padding: 1em 0;
    font-size: 18px;
    color: #103242;
}

.summaries__leftbutton.active{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.summaries__defaultgrid{
    padding-left: 6em;
    padding-right: 4em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

