.summarieslast__gridtitlewrapper{
    display: grid;
    grid-template-columns: auto auto auto;
}

.summarieslast__gridtitle{
    padding-left: 6em;
    grid-column-start: 2;
    padding-bottom: 1em;
    padding-top: 1em;
}
