{% extends 'internal/base.html' %}
{% load static %}
{% load i18n %}
{% block header %}
    <link rel="stylesheet" href="{% static 'quotes/css/quotes.css' %}">
{% endblock %}
{% block body_content %}
      <div>
        <div class="default-container default-top-offset">
        <h2>Quiz</h2>
        <p>Test kjennskapen din til gjengen vår! Du får resultat med tid og antall riktige</p>
          <div>
            <a href="/internal/quiz/new/new-members">
              <input type="button" value="De nye" class="primary-blue-button">
            </a>
          </div>
          {% for x in groups %}
          <div>
            <a href="/internal/quiz/new/{{x.slug}}">
                <input type="button" value="{{x.name}}" class="primary-blue-button">
            </a>
          </div>
          {% endfor %} 
        </div>
      </div>
{% endblock %}