
.schedules_home__upcoming_shifts_title {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 10px 0;
}


.schedules_home__shift_slot_group_card {
    display: grid;
    grid-template-areas:
        "title"
        "shifts";
    grid-row-gap: 10px;
    height: auto;
    background-color: var(--gray9);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.schedules_home__shift_slot_group_card_title {
    grid-area: title;
    font-size: 16px;
    font-weight: 600;
}

.schedules_home__shift_slot_group_card_shifts {
    grid-area: shifts;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
