.header{
    padding: 0.5em 4em;
    height: 60px;
    box-sizing: border-box;
    /* The bottom drawer needs an anchor from this div to position itself absolutely */
    position: relative;
    z-index: 1;
}

.header.open .header__bottom{

}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 3;
}

.header__logo{
    text-transform: uppercase;
}

.header__menu{
    text-transform: uppercase;
    cursor: pointer;
}

.header h3,
.header h2{
    margin: 0;
}

.header__bottom{
    padding: 1em 4em;
}

.header__menu_items_container {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.header__menu_container_item {

}

.header__bottom{
    left: 0;
    right: 0;
    display: none;
    top: 60px;
    position: absolute;
    justify-content: space-between;
    border-top: 1px solid #103242;
    border-bottom: 1px solid #103242;
}

.header__bottom--open{
    /* TODO: Animate in more elegantly */
    display: flex;
}

.header__nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__nav li{
    display: block;
    width: 33%;
    height: 40px;
    text-align: center;
}


/* TEST COPY FROM W3* FOR DROPDOWN UTILITY/
 */

.dropbtn {
  background-color: inherit;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #103242;
    color: rgb(228, 203, 187);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header__profile_container {
    display: flex;
    flex-flow: row;
}

.header__profile_container_left {
    display: flex;
    flex-flow: column;
}


.header__profile_container_right {
    display: flex;
    flex-flow: column;
}


.header__notification_wrapper {

}

.fa-bell {
  position: relative;
  font-size: 4em;
  color: #103242;
  cursor: pointer;
}

span.fa-circle {
  position: absolute;
  font-size: 0.6em;
  top: -4px;
  color: red;
  right: -4px;
}
span.num {
  position: absolute;
  font-size: 0.4em;
  top: -4px;
  color: #fff;
  right: -4px;
}

.header__profile_dropdown {
    width: 800px;
}

.header__profile_dropdown_header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}