.header{
    padding: 0.5em 4em;
    height: 60px;
    box-sizing: border-box;
    /* The bottom drawer needs an anchor from this div to position itself absolutely */
    position: relative;
    z-index: 1;
}

.header.open .header__bottom{

}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 3;
}

.header__logo{
    text-transform: uppercase;
}

.header__menu{
    text-transform: uppercase;
    cursor: pointer;
}

.header h3,
.header h2{
    margin: 0;
}

.header__bottom{
    padding: 1em 4em;
}

.header__bottom{
    left: 0;
    right: 0;
    display: none;
    top: 60px;
    position: absolute;
    justify-content: space-between;
    border-top: 1px solid #103242;
    border-bottom: 1px solid #103242;
}

.header__bottom--open{
    /* TODO: Animate in more elegantly */
    display: flex;
}

.header__nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__nav li{
    display: block;
    width: 33%;
    height: 40px;
    text-align: center;
}
