/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');


/* Make body and html fill page height*/
html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

/* Button reset */
button{
    background: none;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
}

/* Link reset */
.resetlink{
    text-decoration: none;
    color: inherit;
}

/* Primary color schemes */
.light-blue{
    color: #7ACCF0;
}

.dark-blue {
    color: #0A3672;
}

.darker-blue{
    color: #103242;
}

.white{
    color: white;
}

.black{
    color: black;
}

.grey{
    color: #858585;
}

.red {
    color: #6E0D30;
}

.bg-light-blue{
    background-color: #7ACCF0;
}

.bg-dark-blue {
    background-color: #0A3672;
}

.bg-darker-blue{
    background-color: #103242;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: black;
}

/* Font and text styling */
.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.extra-bold{
    font-weight: 800;
}

.bolder{
    font-weight: 700;
}

.bold{
    font-weight: 600;
}

.normal{
    font-weight: 400;
}

.light{
    font-weight: 300;
}

.text-uppercase{
    text-transform: uppercase;
}

/* Display */
.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

.flex{
    display: flex;
}

.inline-flex{
    display: inline-flex;
}

/* Containers and standard sizings */
.default-container{
    width: 1200px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.default-flex-column {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.default-two-col-grid{
    display: grid;
    grid-template-columns: 300px auto;
}

.default-left-panel{
    width: 500px;
    padding-right: 50px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.default-right-panel{
    overflow: hidden;
    padding-bottom: 0.2em;
}

.default-top-offset{
    margin-top: 4em;
}

.default-fill-height-container{
    /* 60px is the height of the header */
    height: calc(100% - 60px);
}

.default-fill-height-container-no-header{
    height: 100%;
}

.resetmargins{
    margin: 0;
}

/* Positioning */
.float-right{
    float: right;
}

.float-left{
    float: left;
}

/* Standard label styling */
.default-grey-label {
    color: #858585;
    font-size: 12px;
}

/* Standard button styling */
.primary-blue-button {
    height: 40px;
    left: 123px;
    top: 347px;
    background: #46788E;
    border-radius: 4px;
    width: 100%;
    display: inline-block;
    color: white;
}

/* Input styling */

.default-text-input-field {
    padding: 12px 14px;
    margin: 4px 0;
    width: 260px;
    display: inline-block;
    border: 1px solid #858585;
    border-radius: 4px;
    box-sizing: border-box;
}

.default-text-area {
    border-radius: 4px;
    border-color: #858585;
}
