{% extends 'internal/base.html' %}
{% load i18n %}
{% load static %}
{% block header %}
  <link rel="stylesheet" href="{% static 'summaries/css/summaries_list.css' %}">
  <link rel="stylesheet" href="{% static 'summaries/css/summaries_common.css' %}">
{% endblock %}
{% block body_content %}
  <div class="summaries default-container default-top-offset">
    {% include 'summaries/summaries_leftmenu.html' with active='summaries' %}
    <div class="default-right-panel summaries__right">
      {% for type in all_summary_types %}
        <a href="/internal/summaries/type/{{ type.0 }}/" class="summaries__type resetlink text-uppercase darker-blue">
          {{ type.1 }}
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
