{# The template expects one input parameter: `active`, which determines what link we are currently at #}
{% load i18n %}
<div class="summaries__leftmenu">
  <a class="summaries__leftbutton resetlink {% if active == 'summaries' %}active{% endif %}" href="{% url 'summaries_list' %}">{% trans 'Summaries' %}</a>
  <a class="summaries__leftbutton resetlink {% if active == 'last' %}active{% endif %}" href="{% url 'summaries_last' %}">{% trans 'Last' %}</a>
  {% if perms.summaries.add_summary %}
    <a class="summaries__leftbutton resetlink {% if active == 'create' %}active{% endif %}" href="{% url 'summaries_create' %}">{% trans 'Create' %}</a>
  {% endif %}
  <a class="summaries__leftbutton resetlink {% if active == 'search' %}active{% endif %}" href="{% url 'summaries_search' %}">{% trans 'Search' %}</a>
  <a class="summaries__leftbutton resetlink {% if active == 'archive' %}active{% endif %}" href="{% url 'summaries_archive' %}">{% trans 'Archive' %}</a>
</div>
