{% extends 'internal/base.html' %}
{% load static %}
{% load i18n %}
{% block header %}
  {# Add ace editor and showdown rendering #}
  {% include 'imports/ace.html'  %}
  {% include 'imports/showdown.html'  %}

  {# We use this to retrieve the id in our attached javascript file. Which allows us to use localStorage based on the id #}
  <meta name="summary-update-id" content="{{ summary.id }}">
  {# We use this to retrieve the current summary version in our attached javascript file. #}
  <meta name="summary-update-version" content="{{ summary.updated_at.isoformat }}">
  <meta name="summary-update-original-contents" content="{{ summary.contents }}">

  <link rel="stylesheet" href="{% static 'summaries/css/summaries_update.css' %}">
{% endblock %}
{% block body_content %}
  <div class="summaryupdate default-fill-height-container">
    <form id="summaryupdate-form" class="summaryupdate__form" method="POST">
      {% csrf_token %}
      <div class="summaryupdate__header">
        {{ summary_form.errors }}
        {{ summary_form.participants }}
        {{ summary_form.reporter }}
        {{ summary_form.summary_type }}
        {{ summary_form.date }}
        <span id="summaryupdate-submit" class="summaryupdate__submit bg-dark-blue white">{% trans 'Save' %}</span>
      </div>
      <div class="summaryupdate__editorheader">
        <div class="text-uppercase">
          {% trans 'Input' %}
        </div>
        <div class="text-uppercase">
          {% trans 'Preview' %}
        </div>
      </div>
      <div class="summaryupdate__editorwrapper">
        {# We use this to store the contents of the ACE editor in an input so we can send it. #}
        <input type="hidden" name="contents" id="summaryupdate-contentsinput">
        <div id="summaryupdate-contents" class="summaryupdate__contents">{{ summary.contents|default:"# Referat" }}</div>
        <div class="summaryupdate__preview" id="summaryupdate-preview"></div>
      </div>
    </form>
  </div>
{% endblock %}
{% block body_end %}
  <script src="{% static 'summaries/js/summaries_update.js' %}"></script>
{% endblock %}
