<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KSG-nett</title>
</head>
<body>
Du er logget inn som bruker {{ user.get_full_name }}
<br>
Du er registrert som {{ user.ksg_status }} {{ user.ksg_role }}
<br>
Du startet i KSG {{ user.start_ksg }}
<br>
Du har følgende saldo på kontoen din: {{ user.bank_account.balance }}kr
<br>
Phone number: {{ user.phone }}
<br>
Study address: {{ user.study_address }}
<br>
Home address: {{ user.home_address }}
<br>
{% if user.current_commission %}
    Du har for tiden vervet {{ user.current_commission }}
{% else %}
    Du har for tiden ikke noe aktivt verv
{% endif %}
<br>
Litt om meg: {{ user.biography }}
<br>
<a class="btn btn-primary" href="/users/{{ user.id }}/update">Edit</a>
</body>
</html>