<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KSG-nett</title>
</head>
<body>
{% for user in object_list %}
    Du er logget inn som bruker {{ user.full_name }}
    <br>
    Du er registrert som {{ user.ksg_status }} {{ user.ksg_role }}
    <br>
    Du startet i KSG {{ user.start_ksg }}
    <br>
    {% if user.current_commission %}
        Du har for tiden vervet {{ user.current_commission }}
    {% else %}
        Du har for tiden ikke noe aktivt verv
    {% endif %}
{% endfor %}
</body>
</html>