
.profilepage__thumbwrapper {
    margin-top: 3em;
}


.profilepage__position {
    margin-top: 2em;
    margin-bottom: 0.25em;
}

.profilepage__ksginfo > p {
    margin: 0.3em 0;
}


.quote__text {
    font-style: italic;
}

.no-bullet {
    list-style-type: none;
}

.quote_box {

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 14px;
    text-align: left;
    font-style: italic;
    width: 200px;
    margin: 10px;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:focus {
    text-decoration: none;
    color: black;
}

a:hover, a:active {
    text-decoration: none;
    color: black
}

#thumb {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}