
.quote__text {
    font-style: italic;
}

.no-bullet {
    list-style-type: none;
}

.quote__gridcontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    alignment: center;

}

.quote_pending__gridcontainer {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    alignment: center;
    margin-left:230px;
    margin-right: 230px;
    padding:20px;
}

.pending_title {
    display: grid;
    grid-template-columns: auto;
}

.quote__griditem {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 14px;
    text-align: left;
    font-style: italic;
    width: 200px;
    margin: 10px;
}

.quote_pending__griditem {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 14px;
    text-align: left;
    font-style: italic;
    width: 200px;
    margin: 10px;
}

.archived_quote__griditem {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 28px;
    width: 200px;
    margin: 10px;
}

#left-wrapper {
    width: 350px;
    border-right: 1px solid black;
    height: 300px;
}

#right-wrapper {
    padding-left: 20px;
}

.quote__semester {
    font-style: normal;
    font-size: 40px !important;
}