.quiz__form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.quiz_form_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width:50%;
}

.highscore-page {
    display: grid;
    grid-template-areas:
            "score-table corrects-table"
            "score-table corrects-table";
    column-gap: 1em;

}

.highscore-table {
    display: flex;
    flex-flow: column wrap;
    max-width: 80%;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#total-score {
    grid-area: score-table;
}

.highscore-table-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}

#header {
    font-weight: bold;
}

#guess-rate {
    grid-area: corrects-table;
}

.highscore-table-cell {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.highscore-table-cell:nth-child(1) {
    justify-content: flex-start;
    flex: 35%;
}
.highscore-table-cell:nth-child(2){
    justify-content: center;
    flex: 15%;
}
.highscore-table-cell:nth-child(3) {
    justify-content: center;
    flex: 15%;
}




.highscore-table-data:nth-of-type(even) {
    background-color: #dedede;
}