.quiz__form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.quiz_form_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width:50%;
}

h4{
    font-weight: lighter;
}

.noob {
    color:blue;
    background-color: aqua;
    font-size: 2em;
}

table.results_table td {
    border-style: groove;
    font-size: 110%;
    text-align: center;
}

table.results_table img{
    padding: 5px 5px 5px 5px;
    margin: 50px 50px 50px 50px;
}

table.results_table{
    border-style: solid;
}