{% extends 'internal/base.html' %}
{% block body_content %}
  <h2>Pending</h2>
  <ul>
    {% for quote in pending %}
      <li>{{ quote.text }}</li>
    {% endfor %}
  </ul>
  <h2>Quotes</h2>
  <ul>
    {% for quote in quotes %}
      <li>
        <span>
          {{ quote.text }}
        </span> -&nbsp;
        <span>
          {{ quote.sum }}
        </span>
        &nbsp;
        <button class="quote__voteup" data-quote-id="{{ quote.id }}">Vote up</button>
        <button class="quote__votedown" data-quote-id="{{ quote.id }}">Vote down</button>
      </li>
    {% endfor %}
  </ul>
  {% load static %}
  <script src="{% static 'quotes/quotes_list.js' %}"></script>
{% endblock %}
