.economy__leftmenu {
    width: 300px;
    text-align: right;
    padding-right: 40px;
    border-right: 1px solid #103242;
    padding-bottom: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.economy__leftbutton {
    display: block;
    padding: 1em 0;
    font-size: 18px;
    color: #103242;
}

.economy__leftbutton.active {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.main-table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.table-card > * {
    width: 100px;
}

.table-header {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.table-card {
    padding: 0 15px;
    margin: 4px 0;
    background-color: #F0F0F0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 10px;
}