{% extends 'internal/base.html' %}
{% load static %}
{% load i18n %}
{% block header %}
  <link rel="stylesheet" href="{% static 'economy/css/economy_socisessions.css' %}">
  <link rel="stylesheet" href="{% static 'economy/css/economy_common.css' %}">
{% endblock %}
{% block body_content %}

  <div class="default-container default-top-offset">
    <div id="left-wrapper" class="minor-left-panel">
      {% include "economy/economy_lefmenu.html" with active=active %}
    </div>
    <div class="default-right-panel default-top-offset sessions__right">
      <div class="soci-sessions__header_container">
        <div>{% translate "Registered" %}</div>
        <div>{% translate "Closed"%}</div>
        <div>{% translate "Created by"%}</div>
        <div>{% translate "Comment" %}</div>
        <div>{% translate "Purchases"%}</div>
        <div>{% translate "Total charge"%}</div>
        <div></div>
        <div>
          <form method="POST" action="/internal/economy/soci-sessions/create">
              {% csrf_token %}
            <button type="submit" class="primary-blue-button"><i class="fa fa-plus"></i> {% translate "Add list" %}</button>
          </form>
        </div>
      </div>
      <div class="soci_sessions__content_container">
        {% for session in sessions %}
            <div class="soci_session_item__left_border">{{ session.start | date:"d.m.Y" }}</div>
            <div>{{ session.end | date:"d.m.Y" }}</div>
            <div>{{ session.signed_off_by.get_full_name }}</div>
            <div>{{ session.type }}</div>
            <div>{{ session.product_orders.count }}</div>
            <div>{{ session.total_revenue }} kr</div>
            {% if not session.closed %}
            <div>
              <a
              href="soci-sessions/{{ session.id }}"
              class="resetlink">
                <button class="soci-session__edit">{% translate "Edit list" %}</button>
              </a>
            </div>
            <div class="soci_session_item__right_border">
              <form method="POST" action="soci-sessions/{{ session.id }}/close">
                  {% csrf_token %}
                  <button class="soci-session__close">{% translate "Close list" %}</button>
              </form>
            </div>
            {% else %}
              <div>
                <a
                  href="soci-sessions/{{ session.id }}"
                  class="resetlink">
                    <button class="soci-session__details">
                      {% translate "Details" %}
                    </button>
                </a>
              </div>
              <div class="soci_session_item__right_border">
                <button class="soci-session__closed" disabled>
                  {% translate "Closed" %}
                </button>
              </div>
            {% endif %}
        {% endfor %}
      </div>
        <div class="default-pagination-container soci_sessions__pagination_container">
          {% if sessions.has_previous %}
            <a href="?page=1{% if filter %}&filter={{ filter }}{% endif %}" class="resetlink">
            <div class="default-pagination-page">
              <i class="fa fa-angle-double-left"></i>
            </div>
            </a>
            <a href="?page={{ sessions.previous_page_number }}{% if filter %}&filter={{ filter }}{% endif %}" class="resetlink">
              <div class="default-pagination-page">
                <i class="fa fa-angle-left"></i>
              </div>
            </a>
          {% endif %}

        <div class="default-pagination-page">
           {{ sessions.number }}
        </div>
        <div class="default-pagination-page">
          {% translate "of" %}
        </div>
        <div class="default-pagination-page">
          {{ sessions.paginator.num_pages }}
        </div>
        {% if sessions.has_next %}
          <a href="?page={{ sessions.next_page_number }}{% if filter %}&filter={{ filter }}{% endif %}" class="resetlink">
            <div class="default-pagination-page">
              <i class="fa fa-angle-right"></i>
            </div>
          </a>
          <a href="?page={{ sessions.paginator.num_pages }}{% if filter %}&filter={{ filter }}{% endif %}" class="resetlink">
            <div class="default-pagination-page">
              <i class="fa fa-angle-double-right"></i>
            </div>
          </a>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}