<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Innskudd</title>
</head>
<body>
This is deposit:
User {{ current_user }} has a balance of {{ current_user.bank_account.balance }} kr

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ deposit_form.as_p }}
    <input type="submit">
</form>
<table style="border-style: solid">
    {% for deposit in deposit_history %}
        <td>
            Deposit:
            <td>{{ deposit.amount }}</td>
            <td>{{ deposit.description }}</td>
            <td>{{ deposit.receipt }}</td>
            <td>Valid: {{ deposit.is_valid }}</td>


        </tr>
    {% endfor %}
</table>
<form method="GET" action="deposit">
    <input type="submit">
</form>
</body>
</html>