{# The template expects one input parameter: `active`, which determines what link we are currently at #}
{% load i18n %}
<div class="economy__leftmenu">
    <a class="economy__leftbutton resetlink {% if filter is None %}active{% endif %}"
       href="{% url 'economy_soci_sessions' %}">{% trans 'X-lists' %}</a>
    <a class="economy__leftbutton resetlink {% if filter == 'open' %}active{% endif %}"
       href="{% url 'economy_soci_sessions' %}?filter=open">{% trans 'Open' %}</a>
    {% if perms.economy.add_socisession %}
        <a class="economy__leftbutton resetlink {% if filter == 'closed' %}active{% endif %}"
           href="{% url 'economy_soci_sessions' %}?filter=closed">{% trans 'Closed' %}</a>
    {% endif %}
</div>