<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
This is specific deposit view
<br>

Deposit amount: {{ deposit.amount }}
<br>
Deposit is valid: {{ deposit.is_valid }}
<br>

<table>
    {% for comment in deposit_comment %}
        <tr>
            <td>
                {{ comment.user.get_full_name }}: {{ comment.comment }}
            </td>
        </tr>
    {% endfor %}
    <form method="POST">
        <tr>
            <td>
                {% csrf_token %}
                {{ comment_form.comment }}
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit">
            </td>
        </tr>
    </form>
</table>
</body>
</html>