{% extends 'internal/base.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" href="{% static 'economy/css/economy_socisessions.css' %}">
    <link rel="stylesheet" href="{% static 'economy/css/economy_common.css' %}">

{% endblock %}

{% block body_content %}

    <div class="default-container default-top-offset">
        <div id="left-wrapper" class="minor-left-panel">
            {% include "economy/economy_lefmenu.html" with active=active %}
        </div>
        <div class="default-right-panel default-top-offset sessions__right" id="right-wrapper">
            <div class="table-header">
                <span class="table-span-default-width">Registrert</span>
                <span class="table-span-default-width">Krysset</span>
                <span class="table-span-default-width">Innkrysser</span>
                <span class="table-span-default-width">Kommentar</span>
                <span class="table-span-default-width">Kryss</span>
                <span class="table-span-default-width">Beløp</span>
                <span class="table-span-default-width"></span>
                <span class="table-span-default-width">
                    <form method="POST" action="soci-sessions/create">
                        {% csrf_token %}
                        <input type="submit" value="Ny liste">
                    </form>
                </span>

            </div>
            <div class="main-table">
                {% for session in sessions %}
                    <div class="table-card">
                        <span class="table-span-default-width">{{ session.start | date:"d.m.Y" }}</span>
                        <span class="table-span-default-width">{{ session.end | date:"d.m.Y" }}</span>
                        <span class="table-span-default-width">{{ session.signed_off_by.get_full_name }}</span>
                        <span class="table-span-default-width">{{ session.type }}</span>
                        <span class="table-span-default-width">{{ session.purchases | length }}</span>
                        <span class="table-span-default-width">{{ session.total_amount }} kr</span>
                        {% if not session.closed %}
                            <span class="table-span-default-width text-center soci-session__edit"><a
                                    href="soci-sessions/{{ session.id }}"
                                    class="resetlink">Endre kryss</a></span>
                            <span class="table-span-default-width">
                                <form method="POST" action="soci-sessions/{{ session.id }}/close">
                                    {% csrf_token %}
                                    <button class="soci-session__close">Steng liste</button>
                                </form>
                            </span>
                        {% else %}
                            <span class="table-span-default-width soci-session__details text-center"><a
                                    href="soci-sessions/{{ session.id }}"
                                    class="resetlink">Detaljer</a></span>
                            <span class="table-span-default-width soci-session__closed text-center">Stengt</span>

                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}