{% extends 'internal/base.html' %}
{% load static %}
{% load i18n %}

{% block header %}
  <link rel="stylesheet" href="{% static 'economy/css/economy_socisession_detail.css' %}">
  <link rel="stylesheet" href="{% static 'economy/css/economy_common.css' %}">
{% endblock %}

{% block body_content %}
  <div class="default-container default-top-offset">
    <div id="left-wrapper" class="minor-left-panel">
      {% include "economy/economy_lefmenu.html" with active="socisessions" %}
    </div>
    <div class="default-right-panel soci-session-detail__main_wrapper">
      <h2>
        {% if session.name %}
          {{ session.name }}
        {% else %}
          {% translate "X-list" %} {{ session.start | date:"m.d.Y" }}
        {% endif %}
      </h2>
      <div class="table-header">
        <div>{% trans "User" %}</div>
        <div>{% trans "Product" %}</div>
        <div>{% trans "Amount" %}</div>
        <div>{% trans "Action" %}</div>
      </div>
      <div class="main-table">
        {% for product_order in session.product_orders.all %}
          <div class="table-card">
            <div>{{ product_order.source.user.get_full_name }}</div>
            <div>{{ product_order.product.name }}</div>
            <div>{{ product_order.order_size }}</div>
            <div>
              <form method="post" action="/internal/economy/product-orders/{{ product_order.id }}/delete">
                {% csrf_token %}
                <button class="primary-red-button" type="submit">
                  {% trans "Delete" %}
                </button>
              </form>
            </div>
          </div>
        {% endfor %}
        {% if session.closed is not True %}
          <form action="/internal/economy/soci-sessions/{{ session.id }}/product-order/add" method="POST">
            <div class="table-card">
              {% csrf_token %}
              {{ product_order_form.as_table }}
              <div class="table-span-default-width">
                <button type="submit" class="primary-blue-button">
                  {% trans "Add" %}
                </button>
              </div>
            </div>
          </form>
        {% endif %}
        {% if session.closed is not True %}
          <form action="/internal/economy/soci-sessions/{{ session.id }}/close" method="POST">
            <div class="primary-red-button soci-session-detail__close_button">
              {% csrf_token %}
              <div class="table-span-default-width">
                <button type="submit" class="primary-red-button">
                  {% trans "Close" %}
                </button>
              </div>
            </div>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
