{% extends 'internal/base.html' %} 
{% load static %} 
{% load i18n %} 
{% block header %}
<link rel="stylesheet" href="{% static 'economy/css/economy_home.css' %}" />
{% endblock %} 
{% block body_content %}
<div id="economy-home-wrapper">
  <div id="economy-home-grid">
    <div id="balance">
      <h1>{% trans "Current buying power" %}</h1>
      <div class="card justify-center">
        <h1>{{ current_user.bank_account.balance }} kr</h1>
      </div>
    </div>

    <div id="spent">
      <h1>{% trans "Total spent" %}</h1>
      <div class="card justify-center">
        <h1>{{ current_user.bank_account.money_spent }} kr</h1>
      </div>
    </div>

    <div id="latest-purchases">
      <h1>{% translate "Recent purchases" %}</h1>
      <div>
        {% for order in latest_purchases %}
        <div class="card">
          <div class="date">{{order.ordered_at | date:"d.m h:m"}}</div>

          <div class="icon">{{ order.product.icon }}</div>

          <div class="d-flex-row-between">
            <div>{{ order.product.name }}</div>

            <div>{{ order.product.price }},-</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div id="latest-deposits">
      <h1>{% translate "Latest deposits" %}</h1>
      <div>
        {% for deposit in latest_deposits %}
        <div class="card">
          <div class="date icon">
            {% if deposit.is_valid %} ✅ {% else %}
            <form
              method="POST"
              action="/internal/economy/deposit/{{deposit.id}}/delete"
            >
              {% csrf_token %}
              <button type="submit">🗑</button>
            </form>
            {% endif %}
          </div>

          <div class="d-flex-row-between">
            <div>{{ deposit.description }}</div>

            <div>{{ deposit.amount }},-</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
    <div>
      <h1>{% translate "New deposit" %}</h1>
      <form class="deposit-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ deposit_form }} 
        <input type="submit" class="primary-blue-button" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
