<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <style>
      body {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 14px;
          line-height: 1.42857143;
          color: #333;
          background-color: #fff;
      }

      .error-message {
          font-size: 20px;
          font-weight: bold;
          color: #ff0000;
      }
  </style>

</head>
<body>
<h1>Societeten digibong</h1>
<div class="error-message">

  Dette er ikke en gyldig lenke. QR-kode må genereres på nytt

</div>
</body>
</html>