<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KSG-nett digibong</title>
</head>
<body>
<h1>KSG-nett digibong</h1>
<section>
  Her har du mulighet til å krysse en KSG digibong.
</section>

{% if error %}

    <div style="color: red">
        {{ error }}
    </div>

    {% endif %}

<div style="display: flex; flex-direction: column">

  <form method="post" action="{% url 'external_charge' bank_account_secret %}">
    {% csrf_token %}
    <div>
      <label for="id_amount">Beløp</label>
      <input type="number" name="amount" id="id_amount" pattern="[0-9]*" inputmode="numeric" step="1" min="0"
             max="300" required>
    </div>
    <div>
      {{ form.bar_tab_customer }}
    </div>

    <div>
        <label for="id_reference">Deres referanse (valgfritt)</label>
        <input type="text" name="reference" id="id_reference" maxlength="100" required>
    </div>
    <input type="submit" value="Kryss bongen">
  </form>
</div>

</body>
</html>